<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/articles" method="POST">
      <input type="text" name="title" id="" placeholder="Enter Title" />
      <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
        placeholder="Write Something"
      ></textarea>
      <input type="text" name="tags" id="" placeholder="add tags" />
      <input type="text" name="author" placeholder="add author" />
      <input type="submit" name="" id="" value="Add Article" />
    </form>
  </body>
</html>